<center><h1>bienvenue</h1>
<p>entre le nom d'un film pour le trouver</p>
<%= form_tag('/posts', method: 'get') do %>
<input id="movie" name="movie" type="text" />
  <button type="submit">Rechercher</button>
  <% end %></center>