<h1>Résultats</h1>
<%= link_to 'nouvelle recherche', root_path %>
	<% @movies.each do |movie| %>
		<center><%= movie["title"] %></br>
		<%= movie["release_date"] %></br>
		<img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2<%= movie["poster_path"] %>" /></br></center>
	<% end %>

